<header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper ">
      <div class="logo px-5">
        <img class="u-header__navbar-brand-default" src="../../assets/svg/logos/logo-white.png" alt="Logo">
      </div>
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="/profile">
            <i class="nc-icon nc-circle-09"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/orders">
            <i class="nc-icon nc-notes"></i>
            <p>Orders</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/contacts">
            <i class="nc-icon nc-paper-2"></i>
            <p>Contacts</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/groups">
            <i class="nc-icon nc-atom"></i>
            <p>Groups</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/send">
            <i class="nc-icon nc-pin-3"></i>
            <p>Send</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/custom">
            <i class="nc-icon nc-pin-3"></i>
            <p>Custom</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/scheduled">
            <i class="nc-icon nc-bell-55"></i>
            <p>Scheduled</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/sent">
            <i class="nc-icon nc-pin-3"></i>
            <p>Sent</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="/inbox">
            <i class="nc-icon nc-pin-3"></i>
            <p>Inbox</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

</header>